/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  /* color: inherit; */
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 5px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: -220px;
  height: 100vh;
  z-index: 999;
  background: #fff;
  color: #000;
  transition: all 0.5s;
  overflow-y: scroll;
  padding-bottom: 5rem;
}

#sidebar.active {
  left: 0;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

.sidebar-heading {
  color: #b7b9cc;
  text-transform: uppercase !important;
  padding: 0 1rem;
  font-weight: 800;
  font-size: 0.65rem;
}

#sidebar .sidebar-header {
  padding: 20px 20px 0px 20px;
  background: #fff;
  color: #6e707e;
}

#sidebar ul.components {
  padding: 20px 0;
  /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  color: #858796;
  padding: 1rem;
  font-size: 0.8rem;
  display: block;
}

#sidebar ul li a i {
  color: #858796 !important;
}

#sidebar ul li a:hover {
  color: #6e707e;
  font-weight: 700;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #6e707e;
  font-weight: 700;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #fff;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

span {
  padding-left: 5px;
}
/* 
#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
} */

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.5s cubic-bezier(0.81, -0.5, 0.345, 1.5);
}

#sidebarCollapse.active span:first-of-type {
  transform: rotate(45deg) translate(6px, 4px);
}
#sidebarCollapse.active span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse.active span:last-of-type {
  transform: rotate(-45deg) translate(6px, -4px);
}

#sidebarCollapse span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

.collapse-item {
  padding: 0.5rem 1rem !important;
  margin: 0 0.5rem;
  display: block;
  color: #3a3b45;
  text-decoration: none;
  border-radius: 0.35rem;
  white-space: nowrap;
}

.container-fluid {
  min-height: calc(100vh - 176px);
}

.container-fluid.dashboard {
  min-height: 0;
}
